:root {
    --website-background: #1d1d1e;
    --website-font: white;
    --website-light-font: #49494a;
    --main-content-background: #222223;
    --main-content-link-background: rgba(255, 255, 255, 0.06);
    --main-content-light-font: #6e6e6f;
    --footer-link-color: #404041;
    --input-background: #262627;
}

body {
    background-color: var(--website-background);
    color: var(--website-font);
    font-family: "Inter", sans-serif;
}

.handwriting-font {
    font-family: "Qwitcher Grypen", cursive;
}

.text-light {
    color: var(--website-light-font);
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main-content {
    width: 90vw;
}

header {
    margin-top: 6em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.7em;
}

header h3 {
    width: fit-content;
    border: 2px solid var(--website-font);
    font-size: 2.2em;
    font-weight: bold;
    transform: rotate(-13deg);
    padding: 0 0.2em;
    border-radius: 50%;
}

header h1 {
    font-size: 2em;
    padding-top: 0.1em;
}

header p {
    font-size: 0.9em;
    color: var(--website-light-font);
    font-weight: bold;
}

.main-content-section {
    display: grid;
    min-width: fit-content;
    grid-template-columns: repeat(1, 1fr);
    gap: 1em;
    margin-top: 2em;
}

.main-content-section-item {
    background: var(--main-content-background);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 20px;
}

.main-content-section-item-image {
    display: flex;
    justify-content: space-between;
}

.main-content-section-item-image img {
    width: 60px;
    height: 60px;
    display: block;
}

.main-content-section-item-information {
    display: flex;
    flex-direction: column;
    text-align: start;
    gap: 0.5em;
    margin-top: 1.5em;
}

.main-content-section-item-information h5 {
    font-weight: bold;
    font-size: 1em;
}

.main-content-section-item-information p {
    color: var(--main-content-light-font);
    word-spacing: 0.1em;
    line-height: 1.4em;
    font-size: 1em;
}

.main-content-section-item-action {
    display: flex;
    justify-content: start;
    align-items: start;
    align-items: center;
    gap: 0.5em;
    margin-top: 3em;
    font-size: 0.9em;
}

.main-content-section-item-action-download {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--main-content-link-background);
    padding: 0.8em 1em;
    border-radius: 15px;
    gap: 0.2em;
    font-weight: bold;
}

.main-content-section-item-action-download:hover {
    background: var(--website-font);
    color: var(--website-background);
    transition: ease-in-out;
    transition-duration: 300ms;
}

.main-content-section-item-action-download svg {
    width: 1.1em;
    margin-bottom: 0.15em;
}

.main-content-section-item-action-site {
    background: var(--main-content-link-background);
    border-radius: 15px;
    padding: 1.1em 1em;
    font-weight: bold;
}

.main-content-section-item-action-site:hover {
    background: var(--website-font);
    color: var(--website-background);
    transition: ease-in-out;
    transition-duration: 300ms;
}

.main-content-section-item-cooming-soon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    color: var(--main-content-light-font);
    position: relative;
}

.main-content-section-item-cooming-soon p {
    font-size: 0.8em;
    padding-right: 1.5em;
}

.main-content-section-item-cooming-soon svg {
    width: 1em;
    position: absolute;
    top: -0.3em;
    right: 0;
}

.main-content-section-item-space {
    padding: 3em 2em;
}

.call-to-action {
    margin-top: 6em;
}

.call-to-action h3 {
    font-size: 0.95em;
    color: var(--website-light-font);
}

.call-to-action form {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.call-to-action form input[type="email"] {
    background: var(--main-content-background);
    padding: 20px;
    border-radius: 10px;
    color: var(--website-light-font);
}

.call-to-action form input[type="submit"] {
    background: var(--website-font);
    color: var(--website-background);
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
}

.call-to-action form input[type="submit"]:hover {
    background: #d4d4d4;
}

footer {
    display: flex;
    flex-direction: column;
    gap: 2em;
    color: var(--website-light-font);
    font-weight: bold;
    padding: 6em 0em;
}

footer a:hover {
    color: var(--website-font);
    transition: ease-in-out;
    transition-duration: 200ms;
}

@media screen and (min-width: 656px) {
    .main-content-section {
        grid-template-columns: minmax(min-content, 300px) minmax(
                min-content,
                300px
            );
        justify-content: center;
    }

    .call-to-action form {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    footer {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}
